
@{
    ViewBag.Title = "Outbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Giden Kutusu</h2>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Alıcı</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.MessageID</td>
            <td>@item.ReceiverMessage</td>
            <td>@item.Subject</td>
            <td>@item.MessageDate</td>
            <td><a href="~/Message/MessageDetails/@item.MessageID" class="btn btn-dark">Mesajı Aç</a></td>
        </tr>
    }

</table>

