
@{
    Layout = null;
}

<link href="~/Template/my_website-starter/my_website-starter/assets/css/style-starter.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <h1>Admin Giriş Sayfası</h1>
        <br />
        <label>Mail Adresiniz:</label>
        <input type="email" class="form-control" required="" name="EmployeeMail" />
        <br />
        <br />
        <label>Şifre:</label>
        <input type="password" class="form-control" required="" name="EmployeePassword" />
        <br />
        <br />

        <input type="checkbox" class="text-md-right">
        <label> Beni Hatırla</label>
        <br />
        <br />


        <button class="btn btn-success">Giriş Yap</button>

        <td><a href="https://www.google.com.tr" class="btn btn-danger">Şifremi Unuttum</a></td>

    </div>
</form>
