@model List<AnkaraPortfolio.Models.TblAdmin>
@{
    Layout = null;
}
<link href="~/Template/my_website-starter/my_website-starter/assets/css/style-starter.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <h1>Admin Giriş Sayfası</h1>
        <br />
        <label>Kullanıcı Adı:</label>
        <input type="text" class="form-control" name = "Username" />
        <br />
        <br />
        <label>Şifre:</label>
        <input type="password" class="form-control" name = "Password"/>
        <br />
        <br />

        <input type="checkbox" class="text-md-right">
        <label> Beni Hatırla</label>
        <br />
        <br />


        <button class="btn btn-success">Giriş Yap</button>

        <td><a href="https://www.google.com.tr" class="btn btn-danger">Şifremi Unuttum</a></td>

    </div>
</form>