    <!--  Main banner section -->
<section class="w3l-main-banner" id="home">
    <div class="companies20-content">
        <div class="companies-wrapper">
            <div class="item">

                <div class="slider-info banner-view text-center">
                    <div class="banner-info container">
                        <img src="~/Template/my_website-starter/my_website-starter/assets/images/c1.jpg" />
                        <h3 class="banner-text mt-5">
                            Merhaba, ben Selin Buket Aydoğdu
                        </h3>
                        <p class="my-4 mb-5">Photographer</p><br>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--  //Main banner section -->
